{% load static %}
{% load main_tags %}
<!DOCTYPE html>
<html>
   <head>
      <title>{{title}}</title>
      <link type="text/css" href="{% static 'main/css/styles.css' %}" rel="stylesheet" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <link rel="shortcut icon" href="{% static 'main/images/main.ico' %}" type="image/x-icon"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% block scripts %}
      {% endblock %}

   </head>
   <body>
      <table class="table-page" border=0 cellpadding="0" cellspacing="0">
         <tr style="height: calc(100% - 60px);">
            <td valign=top>
               {% show_main_menu %}
               <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                  <tr>
                     <!-- Sidebar слева -->
                     <td valign="top" class="left-chapters" style="width: 280px;">
                        <ul id="leftchapters">
                           {% if home_menu %}
                               {% show_home_left_menu %}
                           {% endif %}
                           {% if data_menu %}
                               {% show_data_left_menu company_selected companies %}
                           {% endif %}
                           {% if statistics_menu %}
                               {% show_statistics_left_menu indicators_level_selected %}
                           {% endif %}
                        </ul>
                     </td>
                     <!-- Конец Sidebar'а -->
                     <td valign="top" class="content" style="width: calc(100% - 280px);">
                        <!-- Хлебные крошки -->
                        {% block breadcrumbs %}
                        {% endblock %}
                        <!-- Конец хлебных крошек -->
                        <!-- Блок контента -->
                        <div class="content-text">
                           {% block content %}
                           {% endblock %}
                           {% if page_obj.has_other_pages %}
                           <nav class="list-pages">
                              <ul>
                                 {% if page_obj.has_previous %}
                                 <li class="page-num">
                                    <a href="?{% url_replace request 'page' 1 %}">&lt;&lt;</a>
                                 </li>
                                 <li class="page-num">
                                    <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">&lt;</a>
                                 </li>
                                 {% endif %}
                                 {% if page_obj.number > 3 %}
                                 <li class="page-num page-num-dotes">…</li>
                                 {% endif %}
                                 {% for p in paginator.page_range %}
                                    {% if page_obj.number == p %}
                                 <li class="page-num page-num-selected">{{ p }}</li>
                                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                 <li class="page-num"{% if p > 999 %} style="width: {% get_width p %}px"{% endif %}>
                                    <a href="?{% url_replace request 'page' p %}">{{ p }}</a>
                                 </li>
                                    {% else %}
                                    {% endif %}
                                 {% endfor %}
                                 {% if page_obj.number <= paginator.num_pages|add:-3 %}
                                 <li class="page-num page-num-dotes">…</li>
                                 {% endif %}
                                 {% if page_obj.has_next %}
                                 <li class="page-num">
                                    <a href="?{% url_replace request 'page' page_obj.next_page_number %}">&gt;</a>
                                 </li>
                                 <li class="page-num">
                                    <a href="?{% url_replace request 'page' page_obj.paginator.num_pages %}" alt="{{ page_obj.paginator.num_pages }}" title="{{ page_obj.paginator.num_pages }}">&gt;&gt;</a>
                                 </li>
                                 {% endif %}
                              </ul>
                           </nav>
                           {% endif %}
                        </div>
                        <!-- Конец блока контента -->
                     </td>
                  </tr>
               </table>
            </td>
         </tr>

         <!-- Footer -->
         <tr style="height: 60px;">
            <td valign=top>
               <div id="footer">
                  <p>&copy; Hamsterock soft, 2023</p>
               </div>
            </td>
         </tr>
      </table>
      <!-- Конец footer'а и страницы -->
   </body>
</html>
